altgraph==0.17.5
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
idna==3.13
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==26.2
pefile==2024.8.26
Pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pywin32-ctypes==0.2.3
PyYAML==6.0.3
requests==2.33.1
rich==15.0.0
setuptools==82.0.1
urllib3==2.6.3
